@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #434343;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

ul {
    li {
        display: inline-block;
        vertical-align: top;
    }
}

a {
    text-decoration: none;
    color: #434343;
}

header {
    display: flex;
    justify-content: space-between;
    .logo {
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            left: 18px;
        }
    }
    nav {
        width: 980px;
        ul {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
        }
        .nav-up {
            li {
                margin-left: 29px;
                padding: 10px 0;
                a {
                    color: #434343;
                    opacity: 0.8;
                    transition: 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
        .nav-down {
            background: #f6f6f6;
            text-align: center;
            li {
                padding: 35px 0px;
                margin-left: 5px;
                &:nth-child(1),
                &:nth-child(2) {
                    width: 116px;
                }
                &:nth-child(4),
                &:nth-child(3) {
                    width: 142px;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    background-color: #05aecc;
                }
                &:nth-child(2),
                &:nth-child(4) {
                    background-color: #f0626e;
                }
                a {
                    padding: 35px 20px;
                    color: white;
                    opacity: 0.8;
                    transition: 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
            .special {
                position: relative;
                padding-left: 0;
                &::after {
                    content: "";
                    position: absolute;
                    top: 32px;
                    right: -10px;
                    width: 23px;
                    height: 25px;
                    background-image: url(../img/spritesheet.png);
                    background-repeat: no-repeat;
                    background-position: -151px -68px;
                }
            }
            .basket {
                position: relative;
                padding-left: 0;
                &::after {
                    content: "";
                    position: absolute;
                    top: 32px;
                    right: -10px;
                    width: 28px;
                    height: 24px;
                    background-image: url(../img/spritesheet.png);
                    background-repeat: no-repeat;
                    background-position: -79px -5px;
                }
            }
        }
    }
}

.breadcrumb {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #05aecc;
    margin-top: 15px;
    margin-bottom: 15px;
    ul {
        display: flex;
        justify-content: space-between;
        width: 946px;
        .bread-active:hover .nav-active {
            display: block;
        }
        li {
            padding: 27px 0px;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                background-color: white;
            }
            &:hover a {
                color: #f16f7a;
            }
            &:active a {
                opacity: 0.5;
            }
            a {
                padding: 27px 15px;
                color: white;
                opacity: 0.8;
                transition: 0.3;
            }
        }
        .nav-active {
            position: absolute;
            top: 72px;
            display: none;
            width: 273px;
            background-color: white;
            font-size: 12px;
            color: black;
            transition: 0.2s;
            z-index: 1111;
            li {
                display: flex;
                justify-content: space-between;
                color: black;
                border-bottom: 1px solid lightgray;
                &:last-child {
                    padding: 10px 20px;
                    a {
                        padding: 0;
                        color: black;
                        transition: 0.2s;
                        &:hover {
                            color: #ef5966;
                        }
                    }
                }
                img {
                    margin-left: 20px;
                    margin-right: 14px;
                }
                .info-nav {
                    h3 {
                        color: #ef5966;
                        font-size: 16px;
                    }
                    p {
                        margin-top: 4px;
                        margin-bottom: 10px;
                    }
                    .btn {
                        width: 117px;
                        height: 23px;
                        background-color: #05aecc;
                        opacity: 1;
                        padding: 4px 27px;
                        color: white;
                        opacity: 0.8;
                        transition: 0.2s;
                        &:hover {
                            opacity: 1;
                        }
                        &:active {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

main {
    .btn-present {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 13px;
            left: 15px;
            width: 23px;
            height: 25px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -151px -68px;
            transition: 0.2s;
            opacity: 0.8;
        }
    }
    .btn-add {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: 12px;
            width: 28px;
            height: 24px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -79px -5px;
            transition: 0.2s;
            opacity: 0.8;
        }
    }
    .arrow-left {
        position: relative;
        margin-left: auto;
        margin-right: 1px;
        background-color: #05aecc;
        cursor: pointer;
        &:hover::after {
            opacity: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 27px;
            left: 25px;
            width: 15px;
            height: 24px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -5px -73px;
            transition: 0.2s;
            opacity: 0.6;
        }
    }
    .arrow-right {
        position: relative;
        background-color: #3c3c3c;
        cursor: pointer;
        &:hover::after {
            opacity: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 27px;
            right: 25px;
            width: 15px;
            height: 24px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -86px -39px;
            transition: 0.2s;
            opacity: 0.6;
        }
    }
    .products-category {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        .column {
            article {
                img {
                    position: relative;
                    cursor: pointer;
                    transition: 0.1s;
                }
                .up-products {
                    margin-bottom: 2px;
                }
                position: relative;
                .info {
                    position: absolute;
                    bottom: 20px;
                    .wear-text {
                        width: 348px;
                    }
                    .wear-w {
                        width: 275px;
                        h2 {
                            font-size: 32px;
                            margin: 0 2px;
                        }
                        p {
                            width: 255px;
                            padding-left: 5px;
                            padding-bottom: 10px;
                        }
                    }
                }
                .button {
                    display: flex;
                    right: 0;
                    .craft {
                        background-color: #434343;
                    }
                    p {
                        padding: 18px 10px;
                        color: white;
                        background-color: #05aecc;
                        &:last-child {
                            background-color: #434343;
                        }
                    }
                    a {
                        width: 53px;
                        background-color: #00a1be;
                        &:nth-child(3) {
                            background-color: #f0626e;
                        }
                        &:hover:after {
                            opacity: 1;
                        }
                    }
                }
                .search {
                    position: relative;
                    width: 100%;
                    height: 175px;
                    background-color: #ed6370;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 60px;
                        right: 60px;
                        background-image: url(../img/spritesheet.png);
                        background-repeat: no-repeat;
                        width: 53px;
                        height: 53px;
                        background-position: -117px -5px;
                        cursor: pointer;
                    }
                    input {
                        position: absolute;
                        top: 51px;
                        left: 50%;
                        margin-left: -283px;
                        width: 485px;
                        height: 71px;
                        padding-left: 20px;
                        border: none;
                        box-shadow: 0 0 15px gray;
                        outline: none;
                    }
                }
            }
        }
        .wear-text {
            background-color: rgba(54, 42, 79, 0.6);
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            h2 {
                font-size: 48px;
                text-align: center;
                color: #ef5966;
                padding-top: 10px;
            }
            p {
                width: 300px;
                padding-left: 23px;
                padding-bottom: 10px;
            }
            div {
                background-color: #ef5966;
                p {
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.products-new {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .block-arrow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
        .arrow {
            width: 70px;
            height: 79px;
            margin-bottom: -1px;
        }
    }
    .pic {
        display: flex;
        justify-content: space-between;
        div {
            position: relative;
            .button {
                position: absolute;
                top: 35%;
                left: 50%;
                margin-left: -143px;
                display: flex;
                p {
                    padding: 18px 10px;
                    color: white;
                    background-color: #05aecc;
                    &:last-child {
                        background-color: #434343;
                    }
                }
                a {
                    width: 53px;
                    background-color: #00a1be;
                    &:nth-child(3) {
                        background-color: #f0626e;
                    }
                    &:hover:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.products-featured {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .block-arrow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
        .arrow {
            width: 70px;
            height: 79px;
            margin-bottom: -1px;
        }
        .arrow-left {
            margin-left: auto;
            margin-right: 1px;
            background-color: #f0626e;
        }
        .arrow-right {
            background-color: #3c3c3c;
        }
    }
    .pic-featured {
        display: flex;
        justify-content: space-between;
        .product-pic {
            width: 270px;
            outline: 1px solid lightgray;
            h3 {
                margin-top: 7px;
                margin-left: 14px;
                font-size: 18px;
                color: #434343;
            }
            p {
                margin-left: 14px;
                margin-bottom: 7px;
                font-size: 13px;
                color: #f0626e;
            }
            span {
                display: inline-block;
                padding: 10px 14px;
                font-size: 24px;
                background-color: #f0626e;
                color: white;
            }
            .button-pay {
                display: flex;
                outline: 1px solid lightgray;
                a {
                    position: relative;
                    display: inline-block;
                    width: 54px;
                    height: 52px;
                    margin: 0;
                    &:hover::after {
                        opacity: 1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 19px;
                        left: 16px;
                        width: 19px;
                        height: 12px;
                        background-image: url(../img/spritesheet.png);
                        background-repeat: no-repeat;
                        background-position: -30px -73px;
                        opacity: 0.7;
                    }
                    &:nth-child(2)::after {
                        top: 16px;
                        left: 19px;
                        width: 15px;
                        height: 17px;
                        background-position: -28px -39px;
                    }
                    &:nth-child(3)::after {
                        top: 18px;
                        left: 19px;
                        width: 17px;
                        height: 15px;
                        background-position: -52px -5px;
                    }
                }
                .center {
                    outline: 1px solid lightgray;
                }
            }
        }
    }
}

.who-we {
    div {
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
    }
    p {
        margin: 20px 25px;
    }
}

.down-interfaice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        a {
            width: 370px;
            text-align: center;
            background-color: #434343;
            opacity: 0.9;
            transition: 0.2s;
            &:hover {
                opacity: 1;
            }
            &:nth-child(2) {
                background-color: #05aecc;
                opacity: 0.9;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
            &:nth-child(3) {
                background-color: #f0626e;
                opacity: 0.9;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .btn {
        width: 648px;
        padding: 14px 0px;
        background-color: #05aecc;
        text-align: center;
        color: white;
        opacity: 0.8;
        transition: 0.2s;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.6;
        }
    }
}

.footer-up {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        h2 {
            margin: 38px 0;
            text-transform: uppercase;
            font-size: 25px;
        }
        a {
            margin-bottom: 10px;
            font-size: 16px;
            opacity: 0.8;
            transition: 0.1s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .signup {
        .news {
            p {
                padding: 25px 100px;
                border: 1px solid lightgray;
                text-transform: uppercase;
            }
            .btn-news {
                padding: 14px 0px;
                background-color: #05aecc;
                text-align: center;
                text-transform: uppercase;
                color: white;
                opacity: 0.8;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
                &:active {
                    opacity: 0.6;
                }
            }
        }
        .social {
            display: flex;
            flex-direction: row;
            a {
                position: relative;
                width: 54px;
                height: 54px;
                margin-right: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url(../img/spritesheet.png);
                    background-repeat: no-repeat;
                }
                &:first-child {
                    background-color: #f8bc2e;
                    &::after {
                        top: 15px;
                        left: 15px;
                        width: 23px;
                        height: 23px;
                        background-position: -53px -39px
                    }
                }
                &:nth-child(2) {
                    background-color: #39599f;
                    &::after {
                        top: 13px;
                        left: 20px;
                        width: 13px;
                        height: 27px;
                        background-position: -5px -5px;
                    }
                }
                &:nth-child(3) {
                    background-color: #45b0e3;
                    &::after {
                        top: 15px;
                        left: 11px;
                        width: 31px;
                        height: 23px;
                        background-position: -30px -103px;
                    }
                }
                &:nth-child(4) {
                    background-color: #ffffff;
                    outline: 1px solid lightgray;
                    &::after {
                        top: 20px;
                        left: 12px;
                        width: 30px;
                        height: 14px;
                        background-position: -111px -68px;
                    }
                }
                &:last-child {
                    background-color: #1872bf;
                    &::after {
                        top: 17px;
                        left: 19px;
                        width: 14px;
                        height: 22px;
                        background-position: -28px -5px;
                    }
                }
            }
        }
    }
}

.footer-down {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #b9b9b9;
    p {
        padding: 20px 0;
        span {
            color: #f0626e;
        }
    }
}
