@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #434343;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

ul {
    li {
        display: inline-block;
        vertical-align: top;
    }
}

a {
    text-decoration: none;
    color: #434343;
}

header {
    display: flex;
    justify-content: space-between;
    .logo {
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            left: 18px;
        }
    }
    nav {
        width: 980px;
        ul {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
        }
        .nav-up {
            li {
                margin-left: 29px;
                padding: 10px 0;
                a {
                    color: #434343;
                    opacity: 0.8;
                    transition: 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
        .nav-down {
            background: #f6f6f6;
            text-align: center;
            li {
                padding: 35px 0px;
                margin-left: 5px;
                &:nth-child(1),
                &:nth-child(2) {
                    width: 116px;
                }
                &:nth-child(4),
                &:nth-child(3) {
                    width: 142px;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    background-color: #05aecc;
                }
                &:nth-child(2),
                &:nth-child(4) {
                    background-color: #f0626e;
                }
                a {
                    padding: 35px 20px;
                    color: white;
                    opacity: 0.8;
                    transition: 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.breadcrumb {
    display: flex;
    justify-content: center;
    background-color: #05aecc;
    margin-top: 15px;
    margin-bottom: 15px;
    ul {
        display: flex;
        justify-content: space-between;
        width: 946px;
        li {
            padding: 27px 0px;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                background-color: white;
            }
            &:hover a {
                color: #f16f7a;
            }
            &:active a {
                opacity: 0.5;
            }
            a {
                padding: 27px 15px;
                color: white;
                opacity: 0.8;
                transition: 0.3;
            }
        }
    }
    .nav-active {
        display: none;
    }
}

main {
    .products-category {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        .column {
            article {
                .up-products {
                    margin-bottom: 2px;
                }
                position: relative;
                .info {
                    position: absolute;
                    bottom: 20px;
                    .wear-text {
                        width: 348px;
                    }
                    .wear-w {
                        width: 275px;
                        h2 {
                            font-size: 32px;
                            margin: 0 2px;
                        }
                        p {
                            width: 255px;
                            padding-left: 5px;
                            padding-bottom: 10px;
                        }
                    }
                }
                .button {
                    display: flex;
                    right: 0;
                    .craft {
                        background-color: #434343;
                    }
                    p {
                        padding: 18px 10px;
                        color: white;
                        background-color: #05aecc;
                        &:last-child {
                            background-color: #434343;
                        }
                    }
                    a {
                        width: 53px;
                        background-color: #00a1be;
                        &:nth-child(3) {
                            background-color: #f0626e;
                        }
                    }
                }
                .search {
                    position: relative;
                    width: 100%;
                    height: 175px;
                    background-color: #ed6370;
                    input {
                        position: absolute;
                        top: 51px;
                        left: 50%;
                        margin-left: -283px;
                        width: 485px;
                        height: 71px;
                        padding-left: 20px;
                        border: none;
                        box-shadow: 0 0 15px gray;
                    }
                }
            }
        }
        .wear-text {
            background-color: rgba(54, 42, 79, 0.6);
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            h2 {
                font-size: 48px;
                text-align: center;
                color: #ef5966;
                padding-top: 10px;
            }
            p {
                width: 300px;
                padding-left: 23px;
                padding-bottom: 10px;
            }
            div {
                background-color: #ef5966;
                p {
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.products-new {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .block-arrow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
        .arrow {
            width: 70px;
            height: 79px;
            margin-bottom: -1px;
        }
        .arrow-left {
            margin-left: auto;
            margin-right: 1px;
            background-color: #05aecc;
        }
        .arrow-right {
            background-color: #3c3c3c;
        }
    }
    .pic {
        display: flex;
        justify-content: space-between;
        div {
            position: relative;
            .button {
                position: absolute;
                top: 35%;
                left: 50%;
                margin-left: -143px;
                display: flex;
                p {
                    padding: 18px 10px;
                    color: white;
                    background-color: #05aecc;
                    &:last-child {
                        background-color: #434343;
                    }
                }
                a {
                    width: 53px;
                    background-color: #00a1be;
                    &:nth-child(3) {
                        background-color: #f0626e;
                    }
                }
            }
        }
    }
}

.products-featured {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .block-arrow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
        .arrow {
            width: 70px;
            height: 79px;
            margin-bottom: -1px;
        }
        .arrow-left {
            margin-left: auto;
            margin-right: 1px;
            background-color: #f0626e;
        }
        .arrow-right {
            background-color: #3c3c3c;
        }
    }
    .pic-featured {
        display: flex;
        justify-content: space-between;
        .product-pic {
            width: 270px;
            outline: 1px solid lightgray;
            h3 {
                margin-top: 7px;
                margin-left: 14px;
                font-size: 18px;
                color: #434343;
            }
            p {
                margin-left: 14px;
                margin-bottom: 7px;
                font-size: 13px;
                color: #f0626e;
            }
            span {
                display: inline-block;
                padding: 10px 14px;
                font-size: 24px;
                background-color: #f0626e;
                color: white;
            }
            .button-pay {
                display: flex;
                outline: 1px solid lightgray;
                a {
                    display: inline-block;
                    width: 54px;
                    height: 52px;
                    margin: 0;
                }
                .center {
                    outline: 1px solid lightgray;
                }
            }
        }
    }
}

.who-we {
    div {
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 28px;
        h2 {
            margin-bottom: -1px;
            margin-left: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0626e;
            font-size: 30px;
            color: #00a1be;
        }
    }
    p {
        margin: 20px 25px;
    }
}

.down-interfaice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        a {
            width: 370px;
            text-align: center;
            background-color: #434343;
            opacity: 0.9;
            transition: 0.2s;
            &:hover {
                opacity: 1;
            }
            &:nth-child(2) {
                background-color: #05aecc;
                opacity: 0.9;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
            &:nth-child(3) {
                background-color: #f0626e;
                opacity: 0.9;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .btn {
        width: 648px;
        padding: 14px 0px;
        background-color: #05aecc;
        text-align: center;
        color: white;
        opacity: 0.8;
        transition: 0.2s;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.6;
        }
    }
}

.footer-up {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        h2 {
            margin: 38px 0;
            text-transform: uppercase;
            font-size: 25px;
        }
        a {
            margin-bottom: 10px;
            font-size: 16px;
            opacity: 0.8;
            transition: 0.1s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .signup {
        .news {
            p {
                padding: 25px 100px;
                border: 1px solid lightgray;
                text-transform: uppercase;
            }
            .btn-news {
                padding: 14px 0px;
                background-color: #05aecc;
                text-align: center;
                text-transform: uppercase;
                color: white;
                opacity: 0.8;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
                &:active {
                    opacity: 0.6;
                }
            }
        }
        .social {
            display: flex;
            flex-direction: row;
            a {
                width: 54px;
                height: 54px;
                outline: 1px solid red;
                margin-right: 10px;
            }
        }
    }
}

.footer-down {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #b9b9b9;
    p {
        padding: 20px 0;
    }
}
